<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {{#if pageTitle}}
        {{pageTitle}} |
      {{/if}}
      Node Express REST Starter
    </title>

    <!-- Google web font lato -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{{body}}}

    <!-- GA code -->
  </body>
</html>
